<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>

    <div class="wrapper">
        <nav class="navbar navbar-expand-sm navbar-dark bg-success">
            <a class="navbar-brand" href="#">Dashboard Manage Barang</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout from {{ current_user.nama }}</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="content pt-5">
                <h3 class="text-center">Manage Barang</h3>

                <div class="row menus my-2">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4 text-right">
                        <a href="{{ url_for('tambah_barang') }}" class="btn btn-success">
                            Add data
                        </a>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-primary">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nama barang</th>
                            <th>Merk barang</th>
                            <th>Stok saat ini</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in datas %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ data[1] }}</td>
                            <td>{{ data[2] }}</td>
                            <td>{{ data[3] }}</td>
                            <td>
                                <a href="{{ url_for('edit_barang', id=data[0] ) }}">Edit</a>
                                <a href="{{ url_for('hapus_barang', id=data[0] ) }}">Hapus</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    
</body>
</html>