<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <title>Login</title>
</head>
<body>

    <div class="wrapper ">

        <nav class="navbar navbar-expand-sm navbar-light bg-success">
            <a class="navbar-brand" href="#">Login</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            </div>
        </nav>

        <div class="form container">
            <div class="row align-items-center justify-content-center" style="height: 80vh;">
                <div class="col-md-8">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="alert alert-danger" style="list-style-type: none;">
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <form id="formLogin" action="{{ url_for('login') }}" method="post">
                        <div class="form-group">
                        <label for="">Username</label>
                        <input type="text" class="form-control" name="username" id="" aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" name="password" id="" aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block btn-login" type="button">Masuk</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.btn-login').on('click', function(e){
                e.preventDefault()
                let username = $("input[name='username']").val()
                let password = $("input[name='password']").val()

                if(!username){
                    alert('Username kosong!')
                    return
                }
                if(!password){
                    alert('Password kosong!')
                    return
                }

                $("#formLogin").submit()
            })
        })
    </script>

</body>
</html>